ResourceBar {
    width: 45;
    height: auto
}

ResourceBar Static {
    margin-left: 1;
}

.health Bar > .bar--complete, 
.health Bar > .bar--bar, 
.health Bar > .bar--indeterminate {
    color: #EB5959;
}

.mana Bar > .bar--complete, 
.mana Bar > .bar--bar, 
.mana Bar > .bar--indeterminate {
    color: #5B59EB;
}

.stamina Bar > .bar--complete, 
.stamina Bar > .bar--bar, 
.stamina Bar > .bar--indeterminate {
    color: #60EB59;
}