Combat {
    width: 1fr;
    height: 1fr;
    align: center middle;
}

Team {
    width: auto;
    height: auto;
    margin: 0 4;
}

.team-name {
    text-align: center;
    padding-bottom: 1;
    color: $accent;
}