LogWindow {
    height: 12;
    border: round grey;
    margin: 0 1 1 1;
    padding: 0 1;
}

.log-title {
    text-align: center;
    color: $accent;
    padding-bottom: 1;
}

LogWindow RichLog {
    height: 1fr;
}